<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_fan_made"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_fan_made_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity
            android:name="com.lucapp.ui.main.RecyclerView.DataShowActivity"
            android:exported="true"
            android:label="@string/title_activity_data_show"
            android:theme="@style/AppTheme.NoActionBarData">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lucapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>